.blog-details{
    .article-content{
        p{
            margin-bottom: rem(25);
        }
        .blockquote{
            margin-top: rem(120);
            margin-bottom: rem(62);
            p{
                position: relative;
                font-size: rem(21);
                color: $color-dark-700;
                font-style: normal;
                line-height: rem(30);
                &:before{
                    position: absolute;
                    content: "";
                    background-image: url(../../../img/blockquote.png);
                    height: rem(60);
                    width: rem(60);
                    top: rem(-60);
                    left: 0;
                    background-repeat: no-repeat;
                }
            }
        }
        h6{
            font-size: rem(17);
            font-weight: 500;
            margin-bottom: rem(24);
        }
        .tags{
            span,
            a{
                font-size: rem(14);
                font-weight: 700;
                color: $color-dark-400;
                text-transform: uppercase;
            }
            span{
                margin-right: rem(8);
            }
            a{
                &:hover{
                    color: $color-dark-700;
                }
            }
        }

    }
}