
.faq{
    &--v2{
        .faq-media--img{
            
            @include breakpoint-max(xl){
                text-align: center;
            }
            @include breakpoint-min(xl){
                position: absolute;
                height: 100%;
                top: 0;
                right: 0;
            }
            @include breakpoint-min(xl){
                top: -85px;
            }
        }
    }
}
